

NET "CLK_P123" LOC = P123;
NET "P82" LOC = P82;
NET "P95" LOC = P95;


NET "LED0_P82" LOC = P82;
NET "LED1_P81" LOC = P81;
NET "LED2_P80" LOC = P80;
NET "LED3_P79" LOC = P79;
NET "LED4_P78" LOC = P78;
NET "LED5_P75" LOC = P75;
NET "LED6_P74" LOC = P74;
NET "LED7_P67" LOC = P67;

# PlanAhead Generated physical constraints 

NET "SW0_P66" LOC = P66;
NET "SW1_P62" LOC = P62;
NET "SW2_P61" LOC = P61;
NET "SW3_P59" LOC = P59;
NET "SW4_P58" LOC = P58;
NET "SW5_P57" LOC = P57;
NET "SW6_P56" LOC = P56;
