//! **************************************************************************
// Written by: Map P.20131013 on Mon Aug 07 19:24:14 2023
//! **************************************************************************

SCHEMATIC START;
COMP "XLXN_6" LOCATE = SITE "P16" LEVEL 1;
COMP "XLXN_8" LOCATE = SITE "P67" LEVEL 1;
SCHEMATIC END;

