//! **************************************************************************
// Written by: Map P.20131013 on Mon Oct 09 17:33:27 2023
//! **************************************************************************

SCHEMATIC START;
COMP "vrclk_P123" LOCATE = SITE "P123" LEVEL 1;
COMP "binary0" LOCATE = SITE "P1" LEVEL 1;
COMP "binary1" LOCATE = SITE "P2" LEVEL 1;
COMP "binary2" LOCATE = SITE "P5" LEVEL 1;
COMP "binary3" LOCATE = SITE "P6" LEVEL 1;
COMP "PB3_P47" LOCATE = SITE "P47" LEVEL 1;
SCHEMATIC END;

