
# PlanAhead Generated physical constraints 

NET "common0_p44" LOC = P44;
NET "common1_p43" LOC = P43;
NET "common2_p33" LOC = P33;
NET "common3_p30" LOC = P30;
NET "out_a_p41" LOC = P41;
NET "out_b_p40" LOC = P40;
NET "out_c_p35" LOC = P35;
NET "out_d_p34" LOC = P34;
NET "out_e_p32" LOC = P32;
NET "out_f_p29" LOC = P29;
NET "out_g_p27" LOC = P27;
NET "sw0" LOC = P66;
NET "sw1" LOC = P62;
NET "sw2" LOC = P61;
NET "sw3" LOC = P59;
















#1.2^n ?? 7 segment ?????????? 16 ???????????? ?????????? 2 ?????? n ???????????? sw3-sw0 (sw3 ???? msb) ?????????????? 0 ???????????? 1 
#2.???????? common 0 ??????????? ?? 7 segment ???? a,b,c,d,e,f ????????????????? ?????????????? ???????? common ????? ?????? 0-1-2-3-0-1-2-3 ???????????? 500 ms
#3.???????????? ????????????? y ???????? y=2x+8 ??? x ?????????? 0-31 ?????? ???? 5 bit ??? sw4-sw0 sw4 ????msb ????????? ?? 7 segment 2???? ??????? 16
#5.??????????????????? sw3-sw0 sw7-sw4 ???????????? 16 ?? 7 segment  ?????????????? 0 ???????????? 1
#11????????????? 00-77 ????????????????? 2 ???????? buzzer ???