
# PlanAhead Generated physical constraints 

NET "A_P41" LOC = P41;
NET "B_P40" LOC = P40;
NET "C_P35" LOC = P35;
NET "CLK_P123" LOC = P123;
NET "com_0_P44" LOC = P44;
NET "com_1_P43" LOC = P43;
NET "com_2_P33" LOC = P33;
NET "com_3_P30" LOC = P30;
NET "D_P34" LOC = P34;
NET "E_P32" LOC = P32;
NET "F__29" LOC = P29;
