//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 25 17:57:59 2023
//! **************************************************************************

SCHEMATIC START;
COMP "sl_sw_4_P58" LOCATE = SITE "P58" LEVEL 1;
COMP "out_g_p27" LOCATE = SITE "P27" LEVEL 1;
COMP "led4_P78" LOCATE = SITE "P78" LEVEL 1;
COMP "out_c_P35" LOCATE = SITE "P35" LEVEL 1;
COMP "sl_sw_5_P57" LOCATE = SITE "P57" LEVEL 1;
COMP "com0_P44" LOCATE = SITE "P44" LEVEL 1;
COMP "led5_P75" LOCATE = SITE "P75" LEVEL 1;
COMP "out_d_P34" LOCATE = SITE "P34" LEVEL 1;
COMP "sl_sw_6_P56" LOCATE = SITE "P56" LEVEL 1;
COMP "com1_P43" LOCATE = SITE "P43" LEVEL 1;
COMP "sl_sw_0_P66" LOCATE = SITE "P66" LEVEL 1;
COMP "led6_P74" LOCATE = SITE "P74" LEVEL 1;
COMP "out_e_P32" LOCATE = SITE "P32" LEVEL 1;
COMP "led0_P82" LOCATE = SITE "P82" LEVEL 1;
COMP "com2_P33" LOCATE = SITE "P33" LEVEL 1;
COMP "sl_sw_1_P62" LOCATE = SITE "P62" LEVEL 1;
COMP "led7_P67" LOCATE = SITE "P67" LEVEL 1;
COMP "com3_P30" LOCATE = SITE "P30" LEVEL 1;
COMP "led1_P81" LOCATE = SITE "P81" LEVEL 1;
COMP "PB1_P45" LOCATE = SITE "P45" LEVEL 1;
PIN PB1_P45_pin<0> = BEL "PB1_P45" PINNAME PAD;
PIN "PB1_P45_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "out_f_P29" LOCATE = SITE "P29" LEVEL 1;
COMP "sl_sw_2_P61" LOCATE = SITE "P61" LEVEL 1;
COMP "sl_sw_7_p55" LOCATE = SITE "P55" LEVEL 1;
COMP "led2_P80" LOCATE = SITE "P80" LEVEL 1;
COMP "vrclk_P123" LOCATE = SITE "P123" LEVEL 1;
COMP "PB2_P46" LOCATE = SITE "P46" LEVEL 1;
PIN PB2_P46_pin<0> = BEL "PB2_P46" PINNAME PAD;
PIN "PB2_P46_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "out_a_P41" LOCATE = SITE "P41" LEVEL 1;
COMP "sl_sw_3_P59" LOCATE = SITE "P59" LEVEL 1;
COMP "out_b_P40" LOCATE = SITE "P40" LEVEL 1;
COMP "PB3_P47" LOCATE = SITE "P47" LEVEL 1;
COMP "led3_P79" LOCATE = SITE "P79" LEVEL 1;
SCHEMATIC END;

