//! **************************************************************************
// Written by: Map P.20131013 on Mon Aug 07 17:32:17 2023
//! **************************************************************************

SCHEMATIC START;
COMP "O1" LOCATE = SITE "P5" LEVEL 1;
COMP "O2" LOCATE = SITE "P7" LEVEL 1;
COMP "O3" LOCATE = SITE "P9" LEVEL 1;
COMP "I1" LOCATE = SITE "P61" LEVEL 1;
COMP "I2" LOCATE = SITE "P62" LEVEL 1;
COMP "I3" LOCATE = SITE "P66" LEVEL 1;
SCHEMATIC END;

