//! **************************************************************************
// Written by: Map P.20131013 on Tue Aug 22 14:06:39 2023
//! **************************************************************************

SCHEMATIC START;
COMP "e" LOCATE = SITE "P32" LEVEL 1;
COMP "f" LOCATE = SITE "P29" LEVEL 1;
COMP "g" LOCATE = SITE "P27" LEVEL 1;
COMP "n_B1" LOCATE = SITE "P58" LEVEL 1;
COMP "n_B2" LOCATE = SITE "P57" LEVEL 1;
COMP "n_B3" LOCATE = SITE "P56" LEVEL 1;
COMP "n_B4" LOCATE = SITE "P55" LEVEL 1;
COMP "selecter1" LOCATE = SITE "P112" LEVEL 1;
COMP "A1" LOCATE = SITE "P66" LEVEL 1;
COMP "A2" LOCATE = SITE "P62" LEVEL 1;
COMP "A3" LOCATE = SITE "P61" LEVEL 1;
COMP "A4" LOCATE = SITE "P59" LEVEL 1;
COMP "XLXN_151" LOCATE = SITE "P30" LEVEL 1;
COMP "Ledcheck" LOCATE = SITE "P82" LEVEL 1;
COMP "a" LOCATE = SITE "P41" LEVEL 1;
COMP "b" LOCATE = SITE "P40" LEVEL 1;
COMP "c" LOCATE = SITE "P35" LEVEL 1;
COMP "d" LOCATE = SITE "P34" LEVEL 1;
SCHEMATIC END;

