//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 11 17:21:01 2023
//! **************************************************************************

SCHEMATIC START;
COMP "out_a" LOCATE = SITE "P41" LEVEL 1;
COMP "out_b" LOCATE = SITE "P40" LEVEL 1;
COMP "out_c" LOCATE = SITE "P35" LEVEL 1;
COMP "out_d" LOCATE = SITE "P34" LEVEL 1;
COMP "out_e" LOCATE = SITE "P32" LEVEL 1;
COMP "out_f" LOCATE = SITE "P29" LEVEL 1;
COMP "sw0" LOCATE = SITE "P66" LEVEL 1;
COMP "pb1" LOCATE = SITE "P45" LEVEL 1;
COMP "com0" LOCATE = SITE "P44" LEVEL 1;
COMP "com1" LOCATE = SITE "P43" LEVEL 1;
COMP "com2" LOCATE = SITE "P33" LEVEL 1;
COMP "com3" LOCATE = SITE "P30" LEVEL 1;
COMP "mn0" LOCATE = SITE "P95" LEVEL 1;
SCHEMATIC END;

